<!-- enterprise -->
<section class="eneterpriseHeader">
  <div class="container">
    <ol class="breadcrumb float-right">
      <li><a [routerLink]="['/home']">Home</a></li>
      <li class="specialSep">&gt;</li>
      <li class="active">Kentapay Enterprise</li>
    </ol>
    <div class="pageLabel">Kentapay Enterprise</div>
  </div>
  <div class="clearfix"></div>
</section>
<section class="enterpriseSecTwo">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <nav class="col-12">
            <ul class="nav nav-tabs enterTabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#corporate">Corporate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#merchant">Merchant</a>
              </li>
            </ul>
          </nav>
          <div class="col-12 tab-content">
            <div class="tab-pane container active" id="corporate">
              <div class="enterSectTwoContHeaders">
                <div class="underLineAbt"></div>
                <h3>Payments Solutions for All Businesses</h3>
              </div>
              <div class="enterSectTwoConts text-center">
                <p>KentaPay Corporate is our full-suite payment solutions for corporates. We have extensive experience
                  in corporate payment solutions, aligned to clients business needs.We understand the need for greater
                  controls, increased data security, regulatory compliance, and integration of different technologies
                  for faster time-to-market and return on investment.We enable corporates to increase their digital
                  footprint by availing their products and services on digital channels.You can count on us for all
                  your digital payments needs.
                </p>
              </div>
              <div class="text-center enterSecTwoHead">
                <h3>We Provide Quality</h3>
                <div class="underLineAbt"></div>
                <h6>The Best Service for you</h6>
              </div>
              <div class="col-12 enterAbtCont">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
                    <img src="assets/img/businessabt.png" alt="">
                    <div class="abtContInn">
                      <h3>PRS <br>Services</h3>
                      <p>We provide Premium Rate Services such as Bulk SMS & SMS Sender IDs, Short Codes and USSD Codes
                        from the major Mobile Network Operators.</p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
                    <img src="assets/img/financeabt.png" alt="">
                    <div class="abtContInn">
                      <h3>VAS <br>Services</h3>
                      <p>Provision of utility bills payments, county payments, airtime purchase, IPRS and CRB services
                        on your existing digital channels. </p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
                    <img src="assets/img/customerabt.png" alt="">
                    <div class="abtContInn">
                      <h3>Payment <br>Processing</h3>
                      <p>We enable our clients to process payments for Visa, mVISA, MasterCard and MasterPass QR,
                        Inter-bank transfers, B2C, C2B and B2B payments.</p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
                    <img src="assets/img/brateabt.png" alt="">
                    <div class="abtContInn">
                      <h3>Revenue <br>Collection</h3>
                      <p>We collect revenue on behalf of our clients via digital channels by automating the manual
                        process thus eliminating human related flaws and losses.</p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
                    <img src="assets/img/companyabt.png" alt="">
                    <div class="abtContInn">
                      <h3>Bulk <br>Payments</h3>
                      <p>We facilitate payments to multiple beneficiaries for instance salaries processing, supplier
                        payments, loan disbursements and dividends payment.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane container fade" id="merchant">
              <div class="enterSectTwoContHeaders">
                <div class="underLineAbt"></div>
                <h3>Payments Solutions for All Businesses</h3>
              </div>
              <div class="enterSectTwoConts text-center">
                <p>KentaPay Merchant is our offering to retailers to enable their customers to pay for goods & services
                  using multiple payment options. We understand one of the key business challenges that merchants face
                  is expansion. With our digital payments solution, merchants can now reach more customers and offer
                  their goods & services anywhere, anytime.</p>
              </div>
              <div class="text-center enterSecTwoHead">
                <h3>We Provide Quality</h3>
                <div class="underLineAbt"></div>
                <h6>The Best Service for you</h6>
              </div>
              <div class="col-12 enterAbtCont">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
                    <img src="assets/img/businessabt.png" alt="">
                    <div class="abtContInn">
                      <h3>E-Commerce <br>Solutions</h3>
                      <p>We develop E-Commerce solutions for merchants to enable them to sell their products and services online by accepting payments from major cards and mobile payments.</p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
                    <img src="assets/img/financeabt.png" alt="">
                    <div class="abtContInn">
                      <h3>Email <br>Invoicing</h3>
                      <p>Send invoices to your customers via email and get paid instantly using card or mobile money.No integration or website required.</p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
                    <img src="assets/img/customerabt.png" alt="">
                    <div class="abtContInn">
                      <h3>Merchant <br>Dashboards</h3>
                      <p>View transactions in real-time and access reports and summary graphs via our online portal.</p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
                    <img src="assets/img/brateabt.png" alt="">
                    <div class="abtContInn">
                      <h3>Card <br>Solutions</h3>
                      <p>We offer customizable gift card solution, pre-paid card options and customer loyalty programs. </p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
                    <img src="assets/img/companyabt.png" alt="">
                    <div class="abtContInn">
                      <h3>QR Code <br>Payments</h3>
                      <p>Accept QR code payments at your shop or website and improve your customer’s payment experience.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="callAction">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center callActionInn">
        <p>Ready to discuss your corporate payment processing requirements? <a href="">Get Started today <img src="assets/img/next.png" alt=""></a></p>
      </div>
    </div>
  </div>
</section>
<!-- partners corousel -->
<app-partners></app-partners>
