.personalHeader {
  background-color: rgb(223, 225, 239);
  height: 80px;
  position: relative;
}

.breadcrumb {
  margin-top: 15px;
  background: transparent !important;
  height: 20px;
}

.breadcrumb li a {
  font-size: 14px;
  font-family: "Uni Neue";
  color: rgb(4, 20, 43);
}

.breadcrumb li a:hover {
  color: rgb(64, 77, 166);
  text-decoration: none;
}

.breadcrumb .active {
  color: rgb(64, 77, 166);
}

.specialSep {
  font-size: 14px;
  font-family: "Uni Neue";
  color: rgb(221, 17, 136);
  line-height: 2.143;
  margin-left: 15px;
  margin-right: 15px;
}

.pageLabel {
  background-color: rgb(64, 77, 166);
  padding: 15px;
  height: 60px;
  font-size: 18px;
  font-family: "Uni Neue Bold";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.667;
  text-align: center;
  position: absolute;
  margin-top: 50px;
}

.personalSecOne {
  padding-top: 110px;
  padding-bottom: 60px;
}

.personalSecOneHeader h2 {
  font-size: 2em;
  font-family: "Uni Neue Bold";
  color: rgb(4, 20, 43);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 80px;
}

.billsCont h3 {
  font-size: 24px;
  font-family: "Uni Neue Bold";
  color: rgb(115, 115, 115);
  line-height: 3;
}

.billsCont p {
  font-size: 15px;
  font-family: "Uni Neue";
  color: rgb(115, 115, 115);
  line-height: 1.733;
}

.billsBtn {
  border-radius: 3px;
  background-color: rgb(221, 17, 136);
  min-width: 137px;
  height: 44px;
  padding-top: 12px;
  font-size: 12px;
  font-family: "Uni Neue Bold";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-top: 15px;
}

.billsBtn img {
  margin-left: 15px;
}

.icompareSect {
  background-color: rgb(244, 245, 249);
  min-height: 300px;
  padding-top: 80px;
  padding-bottom: 60px;
}

.icompareCont h3 {
  font-size: 24px;
  font-family: "Uni Neue Bold";
  color: rgb(34, 30, 31);
  line-height: 1;
  margin-bottom: 30px;
}

.icompareCont p {
  font-size: 15px;
  font-family: "Uni Neue";
  color: rgb(34, 30, 31);
  line-height: 1.733;
}

.icompareMods {
  margin-top: 25px;
  margin-bottom: 25px;
}

.icompareModsRedirect {
  display: grid;
  grid-template-columns: auto auto auto;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  -o-padding-start: 0px;
}

.icompareModsRedirect li {
  list-style: none;
}

/* media queries */
@media only screen and (Max-width:767px) {

  .personalSecOneHeader h2 {
    font-size: 1.5em;
    font-family: "Uni Neue Bold";
    color: rgb(4, 20, 43);
    text-transform: uppercase;
    line-height: 1.2;
  }
}

@media only screen and (max-width:425px) {
  .personalSecOneHeader h2 {
    font-size: 1.2em;
    font-family: "Uni Neue Bold";
    color: rgb(4, 20, 43);
    text-transform: uppercase;
    line-height: 1.2;
  }

  .pageLabel {
    font-size: 15px;
  }
}
