<!-- Kentapay pesonal page -->
<section class="personalHeader">
  <div class="container">
    <ol class="breadcrumb float-right">
      <li><a [routerLink]="['/home']">Home</a></li>
      <li class="specialSep">&gt;</li>
      <li class="active">Kentapay Personal</li>
    </ol>
    <div class="pageLabel">Kentapay Personal</div>
  </div>
  <div class="clearfix"></div>
</section>
<section class="personalSecOne">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center personalSecOneHeader">
        <h2>Pay Bills Online, Receive e-bills, <br class="hidden-sm">At your convenience</h2>
      </div>
      <div class="col-12 col-sm-12 col-md-7 billsLogos">
        <img src="assets/img/billslogos.png" alt="" class="img-fluid">
      </div>
      <div class="col-12 col-sm-12 col-md-5 text-md-right billsCont">
        <h3>Buy Airtime and Pay Bills</h3>
        <p>Paying Bills with KentaPay is easy and stress free for both you and your family. Pay online for internet,
          recharge your Perpaid Mobile, Pay TV, county payments, NHIF, water, electricity both prepaid and post paid.</p>
        <div class="btn billsBtn">Buy Now <img src="assets/img/next.png" alt=""></div>
      </div>
    </div>
  </div>
</section>
<section class="icompareSect">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-5 icompareCont">
        <h3>Book your Tickets and Hotels</h3>
        <p>Compare the best rates on flights, hotels and amazing holiday packages to top destinations and book withs us today</p>
      </div>
      <div class="col-12 col-sm-6 col-md-7 icompareMods">
        <ul class="icompareModsRedirect">
          <li><a href=""><img src="assets/img/hotel.png" alt="" srcset="" class="img-fluid"></a></li>
          <li><a href=""><img src="assets/img/tickets.png" alt="" srcset="" class="img-fluid"></a></li>
          <li><a href=""><img src="assets/img/holiday.png" alt="" srcset="" class="img-fluid"></a></li>
        </ul>
      </div>
      <div class="col-12">
        <div class="btn billsBtn">Compare Now <img src="assets/img/next.png" alt=""></div>
      </div>
    </div>
  </div>
</section>
<app-partners></app-partners>
