@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueRegular.woff2') format('woff2'),
        url('../fonts/UniNeueRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Uni Neue Bold';
    src: url('../fonts/UniNeueBold.woff2') format('woff2'),
        url('../fonts/UniNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Uni Neue Book';
    src: url('../fonts/UniNeueBook.woff2') format('woff2'),
        url('../fonts/UniNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gentona Light';
    src: url('../fonts/Gentona-Light.woff2') format('woff2'),
        url('../fonts/Gentona-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gentona';
    src: url('../fonts/Gentona-Medium.woff2') format('woff2'),
        url('../fonts/Gentona-Medium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}