<!-- Footer Code   -->
<div class="myFooter">
  <div class="container">
    <div class="row footerTop">
      <div class="col-6 col-sm-6 cil-md-6 col-lg-3 col-xl-3 footBlock">
        <h2>Swivel Payment<br> Solution</h2>
        <h4>+254 722 505 050</h4>
        <p>3rd Floor | Utumishi Co-op<br> House | Mamlaka Road </p>
      </div>
      <div class="col-6 col-sm-6 cil-md-6 col-lg-3 col-xl-3 footBlock">
        <h3>Products</h3>
        <ul class="footTopLinks">
          <li>Bill Payments</li>
          <li>Corprate Airtime</li>
          <li>Bulk SMS</li>
          <li>USSD</li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 cil-md-6 col-lg-3 col-xl-3 footBlock">
        <h3>Company</h3>
        <ul class="footTopLinks">
          <li>About Swivel</li>
          <li>Make Payments</li>
          <li>Merchants</li>
          <li>Contact us</li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 cil-md-6 col-lg-3 col-xl-3 footBlock">
        <h3>Help and Support</h3>
        <ul class="footTopLinks">
          <li>FAQ</li>
          <li>Support</li>
          <li>Partners</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footerHorizontal"></div>
      </div>
    </div>
    <div class="row footerBtm">
      <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 footBtmBlocks">
        <ul class="footerBtmLinksLeft">
          <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 footBtmBlocks">
        <ul class="footerBtmLinksRight float-md-right">
          <li>Terms of Use</li>
          <li>Privacy Policy</li>
          <li>Legal Notice</li>
        </ul>
      </div>
    </div>
  </div>
</div>
