<!-- partners code -->
<section class="swivelPartners">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center homeAboutHead">
        <h3>Who we work with</h3>
        <div class="underLineAbt"></div>
        <h6>Our Partners</h6>
      </div>
    </div>
    <div id="swivelPartners" class="carousel slide" data-ride="carousel" data-interval="9000">
      <div class="carousel-inner row w-100 mx-auto" role="listbox">
        <div class="carousel-item col-md-3 text-center active">
          <img src="assets/img/swivelpartnerone.png" alt="" srcset="">
        </div>
        <div class="carousel-item col-md-3 text-center">
            <img src="assets/img/swivelpartnertwo.png" alt="" srcset="">
        </div>
        <div class="carousel-item col-md-3 text-center">
            <img src="assets/img/swivelpartnerthree.png" alt="" srcset="">
        </div>
        <div class="carousel-item col-md-3 text-center">
            <img src="assets/img/swivelpartnerfour.png" alt="" srcset="">
        </div>
        <div class="carousel-item col-md-3 text-center">
            <img src="assets/img/swivelpartnerfive.png" alt="" srcset="">
        </div>
        <div class="carousel-item col-md-3 text-center">
            <img src="assets/img/swivelpartnersix.png" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
</section>
