<!-- Home code starts here -->
<section class="homeBanner">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center homeBannerInn">
        <h3>Payments, Made Simple</h3>
        <p>We offer a complete online payment solution for corporates, merchants and individuals.<br>
          As a client, we provide you with a robust and secure payments platform that ensure business growth.</p>
        <div class="btn btnBanner">Get Started</div>
      </div>
    </div>
  </div>
</section>
<section class="homeAbout">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center homeAboutHead">
        <h3>Why choose Swivel?</h3>
        <div class="underLineAbt"></div>
        <h6>Our Products and Services</h6>
      </div>
      <div class="col-12 homeAbtCont">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="assets/img/businessabt.png" alt="">
            <div class="abtContInn">
              <h3>Automated <br>Reconciliation</h3>
              <p>Our platform has a reconciliation tool that matches payments against settlement accounts, eliminating
                manual processes.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="assets/img/financeabt.png" alt="">
            <div class="abtContInn">
              <h3>Easy <br>Integration</h3>
              <p>We provide a single and easy to consume modern API that is compliant to the industry standards.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="assets/img/customerabt.png" alt="">
            <div class="abtContInn">
              <h3>Client <br>Dashboard</h3>
              <p>We provide a customizable online dashboard portal for visibility of all payments via Graphical Charts
                and Reports.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="assets/img/brateabt.png" alt="">
            <div class="abtContInn">
              <h3>Customer <br>Support</h3>
              <p>Our outstanding customer experience, reinforces and differentiates our brand by providing a 24/7
                Customer Support.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="assets/img/companyabt.png" alt="">
            <div class="abtContInn">
              <h3>Multi-payment <br>options</h3>
              <p>Our platform supports both local and international card schemes, third-party wallets and mobile money
                payments.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 abtCont">
            <img src="assets/img/investorabt.png" alt="">
            <div class="abtContInn">
              <h3>Multi-currency <br>support</h3>
              <p>We acquire, process and settle payments in all major currencies thereby giving our merchants a
                competitive edge.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="homeVas">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-4 vasCont text-center">
        <img src="assets/img/security.png" alt="">
        <h3>Security</h3>
        <p>We align to card data security standards by enforcing PCI-DSS certification and ensure that your financial
          data is safe and secure.</p>
      </div>
      <div class="col-12 col-sm-4 col-md-4 vasCont text-center">
        <img src="assets/img/riskmanagement.png" alt="">
        <h3>Security</h3>
        <p>We identify, analyze and mitigate financial risks related to payments by ensuring effective implementation
          of risk management process.</p>
      </div>
      <div class="col-12 col-sm-4 col-md-4 vasCont text-center">
        <img src="assets/img/reliability.png" alt="">
        <h3>Security</h3>
        <p>We identify, analyze and mitigate financial risks related to payments by ensuring effective implementation
          of risk management process.</p>
      </div>
    </div>
  </div>
</section>
<section class="homeStats">
  <div class="container">
    <div class="row">
      <div class="col-12 homeStatsHead">
        <h3>We provide the best Merchant Service</h3>
        <h4>One more step to growing your business</h4>
      </div>
      <div class="col-12 statsCont">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 statsOuter">
            <div class="statsInner counter">
              <h6 class="mysuperCase">+</h6>
              <h1 class="timer count-title count-number" data-to="325" data-speed="1500">325<sup>+</sup></h1><span></span>
              <h4>Customers</h4>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 statsOuter">
            <div class="statsInner counter">
              <h6 class="mysuperCase">+</h6>
              <h1 class="timer count-title count-number" data-to="18" data-speed="1500">18<sup>+</sup></h1>
              <h4>Merchants</h4>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 statsOuter">
            <div class="statsInner counter">
              <h6 class="mysuperCase">+</h6>
              <h1 class="timer count-title count-number" data-to="1139" data-speed="1500">1139<sup>+</sup></h1>
              <h4>Transactions</h4>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 statsOuter">
            <div class="statsInner counter">
              <h6 class="mysuperCase">+</h6>
              <h1 class="timer count-title count-number" data-to="59" data-speed="1500">59<sup>+</sup></h1>
              <h4>Partners</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- parters starts here -->
<app-partners></app-partners>
